<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_base|::head( 'Jees Webs | Menus Manager', 'editable' )" />
<body>
<!-- begin page-cover -->
<div class="page-cover"></div>
<!-- end page-cover -->

<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div th:replace="|${TPL}/_inc/_header|::html" />
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div th:replace="|${TPL}/_inc/_sidebar|::html" />
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol th:replace="|${TPL}/_inc/_breadcrumb|::html" />
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header" th:text="${MENU eq null ? PAGE : MENU.name}" />
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:On_Add_Click();" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-plus"></i></a>
                        </div>
                        <h4 class="panel-title">Form Editable</h4>
                    </div>
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="tab-menus" class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="15%">账号</th>
                                <th width="15%">重置密码</th>
                                <th width="5%">启用账号</th>
                                <th width="5%">锁定账号</th>
                                <th>权限清单</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end #content -->

        <!-- begin theme-panel -->
        <div th:replace="|${TPL}/_inc/_theme|::html" />
        <!-- end theme-panel -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
</div>
<c th:include="|${TPL}/_inc/_base|::js( 'editable, sweetalert, dwr' )" />
<c th:include="|${TPL}/_inc/_base|::dwr( 'SuperRemote' )" />
<script>
        var Change = false;
        var UserId = [[${session.USER.id}]];
        var Datas = [];
        var Roles = [];
        var Data_Save = function( _id ){
            Change = false;
            var o = Datas[_id];
            var rs = o.roles;
            for( var id in rs ){
                if( rs[id] != null )
                    rs[id].menus = null;
            }
            o.roles = null;

            SuperRemote.saveUserData( o, rs, function(){
                location.reload();
            } );
        };

        var On_Edit_Click = function( _id ){
            var btn = $("#B-" + _id );
            var del = $("#D-" + _id );
            if( btn.hasClass( "btn-inverse" ) ) return;

            $("#E-" + _id + " .editable").editable("toggleDisabled");
            if( _id == UserId ){
                btn.toggleClass( "btn-inverse" ).toggleClass( "btn-success" );
                btn.html( "禁用" );

                if( btn.hasClass( "btn-inverse" ) ){
                    del.hide()
                }
                return;
            }

            btn.toggleClass( "btn-default " ).toggleClass( "btn-success" );
            btn.html( btn.hasClass( "btn-default" ) ? "编辑" : "保存" );

            if( btn.hasClass( "btn-default" ) ) del.hide();
            else del.show();

            if( Change && btn.hasClass( "btn-default" ) )
                Data_Save( _id );
        };
        var On_Edit_Submit = function( _e ){
            var o = Datas[_e.pk];

            if( _e.name.indexOf( "NAME-" ) != -1 )
                o.username = _e.value;
            if( _e.name.indexOf( "PWD-" ) != -1 )
                o.password = _e.value;
            if( _e.name.indexOf( "ENABLED-" ) != -1 )
                o.enabled = _e.value == 1 ? true : false;
            if( _e.name.indexOf( "LOCKED-" ) != -1 )
                o.locked = _e.value == 1 ? true : false;

            if( _e.name.indexOf( "ROLE-" ) != -1 ){
                var rs = _e.value;
                for( var id in o.roles ){
                    o.roles[id] = null;
                }
                for( var id in rs ){
                    var r = Roles[rs[id]];
                    o.roles[r.id] = r;
                }
            }

            Change = true;
        };
        var On_Remove_Click = function( _id ){
            var o = Datas[_id];

            var title = "确定删除账号 [" + o.username + "]吗？)";
            var tips = "warning";

            jeesjs.SweetAlert.confirm( "删除确认", title, tips, function(){
                SuperRemote.removeRoleData( o ,function(){
                    location.reload();
                });
            });
        };
        var On_Add_Click = function(){
            SuperRemote.addUserData( function(){
                location.reload();
            } );
        };
        var check_group = [];
        check_group.push({value: 0, text:"否"});
        check_group.push({value: 1, text:"是"});

        var handleDatasLoad = function( datas ){
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.inputclass = 'form-control input-sm';
            $.fn.editable.defaults.url = On_Edit_Submit;
            var dom_tab = $("#tab-menus tbody:last");
            Datas = [];
            Roles = [];
            var select_group = [];
            for( var k in datas ){
                var o = datas[k];
                Datas[o.id] = o;

                var e_name_id = "NAME-" + o.id;
                var e_pwd_id = "PWD-" + o.id;
                var e_role_id = "ROLE-" + o.id;
                var e_enabled_id = "ENABLED-" + o.id;
                var e_locked_id = "LOCKED-" + o.id;

                var e_role_txt = "";
                for( var i in o.roles ){
                    var r = o.roles[i];
                    e_role_txt += r.name + ", ";
                    select_group.push( r.name );
                    if( o.id == UserId )
                        Roles[r.name] = r;
                }
                if ( e_role_txt != "" ) e_role_txt = e_role_txt.substring( 0, e_role_txt.length - 2 );

                var row = "<tr id='E-" + o.id + "'>"
                        + "<td>" + o.id + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.TEXT, e_name_id, o.username ) + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.PASSWORD, e_pwd_id, "****" ) + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.SELECT, e_enabled_id, o.enabled ? "是" : "否" ) + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.SELECT, e_locked_id, o.locked ? "是" : "否" ) + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.TAGS, e_role_id, e_role_txt )  + "</td>"
                        + "<td>"
                            + "<button id='B-" + o.id + "' class='btn btn-success' onclick='On_Edit_Click( " + o.id + " )'></button>"
                            + "&nbsp;&nbsp;&nbsp;&nbsp;"
                            + "<button id='D-" + o.id + "' class='btn btn-danger' onclick='On_Remove_Click( " + o.id + " )'>删除</button>"
                        + "</td>"
                        + "</tr>";
                dom_tab.append( row );
                jeesjs.Editable.text( $( "#" + e_name_id ) );
                jeesjs.Editable.password( $( "#" + e_pwd_id ) );
                jeesjs.Editable.tags( $( "#" + e_role_id ), select_group );
                jeesjs.Editable.select( $( "#" + e_enabled_id ), o.enabled ? 1 : 0, check_group );
                jeesjs.Editable.select( $( "#" + e_locked_id ), o.locked ? 1 : 0, check_group );

                On_Edit_Click( o.id );
            }
        };
        var DataView = function () {
			"use strict";
			return {
				//main function
				init: function () {
				    SuperRemote.loadUserData( handleDatasLoad );
				}
			};
		}();
		$(document).ready(function() {
			App.init();
			DataView.init();
		});
	</script>
</body>
</html>
