<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_base|::head( 'Jees Webs | Menus Manager', 'editable' )" />
<body>
<!-- begin page-cover -->
<div class="page-cover"></div>
<!-- end page-cover -->

<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div th:replace="|${TPL}/_inc/_header|::html" />
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div th:replace="|${TPL}/_inc/_sidebar|::html" />
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol th:replace="|${TPL}/_inc/_breadcrumb|::html" />
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header" th:text="${MENU eq null ? PAGE : MENU.name}" />
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading p">
                        <div class="panel-heading-btn">
                            <a href="javascript:On_Add_Click();" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-plus"></i></a>
                        </div>
                        <h4 class="panel-title">角色清单</h4>
                    </div>
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="tab-data" class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="10%">角色</th>
                                <th>可访问栏目</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end #content -->

        <!-- begin theme-panel -->
        <div th:replace="|${TPL}/_inc/_theme|::html" />
        <!-- end theme-panel -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
</div>
<c th:include="|${TPL}/_inc/_base|::js( 'editable, sweetalert, dwr' )" />
<c th:include="|${TPL}/_inc/_base|::dwr( 'SuperRemote' )" />
<script>
        var Change = false;
        var Datas = [];
        var Menus = []; //编辑者只能编辑自己拥有的栏目
        var Data_Save = function( _id ){
            Change = false;
            var o = Datas[_id];
            var ms = o.menus;
            o.menus = null;
            SuperRemote.saveRoleData( o, ms );
        };

        var On_Edit_Click = function( _id ){
            var btn = $("#B-" + _id );
            var del = $("#D-" + _id );
            $("#E-" + _id + " .editable").editable("toggleDisabled");

            btn.toggleClass( "btn-default " ).toggleClass( "btn-success" );
            btn.html( btn.hasClass( "btn-default" ) ? "编辑" : "保存" );

            if( btn.hasClass( "btn-default" ) ) del.hide();
            else del.show();

            if( Change && btn.hasClass( "btn-default" ) )
                Data_Save( _id );
        };
        var On_Edit_Submit = function( _e ){
            var o = Datas[_e.pk];

            if( _e.name.indexOf( "NAME-" ) != -1 )
                o.name = _e.value;
            if( _e.name.indexOf( "MENU-" ) != -1 ){
                var ms = _e.value;
                for( var id in ms ){
                    var m = Menus[ms[id]];
                    o.menus[m.id] = m;
                }
            }

            Change = true;
        };
        var On_Remove_Click = function( _id ){
            var o = Datas[_id];

            var title = "确定删除角色 [" + o.name + "]吗？\n(注意：没有任何角色时会造成系统无法访问。)";
            var tips = "warning";

            jeesjs.SweetAlert.confirm( "删除确认", title, tips, function(){
                SuperRemote.removeRoleData( o ,function(){
                    location.reload();
                });
            });
        };
        var On_Add_Click = function(){
            SuperRemote.addRoleData( "新的角色", function(){
                location.reload();
            } );
        };
        var handleDataLoad = function( _datas ){
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.inputclass = 'form-control input-sm';
            $.fn.editable.defaults.url = On_Edit_Submit;
            var dom_tab = $("#tab-data tbody:last");
            Datas = [];
            Menus = [];
            var select_group = [];
            for( var k in _datas ){
                var o = _datas[k];

                Datas[o.id] = o;

                var e_name_id = "NAME-" + o.id;
                var e_menu_id = "MENU-" + o.id;

                var e_menu_txt = "";
                for( var i in o.menus ){
                    var m = o.menus[i];
                    e_menu_txt += m.name + ", ";

                    select_group.push( m.name );
                    Menus[m.name] = m;
                }
                if ( e_menu_txt != "" ) e_menu_txt = e_menu_txt.substring( 0, e_menu_txt.length - 2 );

                var row = "<tr id='E-" + o.id + "'>"
                        + "<td>" + o.id + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.TEXT, e_name_id, o.name ) + "</td>"
                        + "<td>" + jeesjs.Editable.generate( o.id, jeesjs.Editable.TYPE.TAGS, e_menu_id, e_menu_txt )  + "</td>"
                        + "<td>"
                            + "<button id='B-" + o.id + "' class='btn btn-success' onclick='On_Edit_Click( " + o.id + " )'></button>"
                            + "&nbsp;&nbsp;&nbsp;&nbsp;"
                            + "<button id='D-" + o.id + "' class='btn btn-danger' onclick='On_Remove_Click( " + o.id + " )'>删除</button>"
                        + "</td>"
                        + "</tr>";
                dom_tab.append( row );
                jeesjs.Editable.text( $( "#" + e_name_id ) );
                jeesjs.Editable.tags( $( "#" + e_menu_id ), select_group );

                On_Edit_Click( o.id );
            }
        };
        var DataView = function () {
			"use strict";
			return {
				//main function
				init: function () {
				    SuperRemote.loadRoleData( handleDataLoad );
				}

			};
		}();
		$(document).ready(function() {
			App.init();
			DataView.init();
		});
	</script>
</body>
</html>
