/logs/
/target/
/jees-jdbs/target/
/jees-jsts/target/
/jees-jtls/target/
/jees-webs/target/
/.idea/
/.install
/jees-boot/jees-boot.iml
/jees-jdbs/jees-jdbs.iml
/jees-jsts/jees-jsts.iml
/jees-jtls/jees-jtls.iml
/jees-webs/jees-webs.iml
/.log/
/tmlog.lck
/tmlog0.log
/jees-jdbs/tmlog22.log
/jees-jdbs/.log/
/.gradle/
/.output/
/jees-webs/build/
