<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_base|::head( 'Jees Webs | 首页', '' )" />
<body>
	<!-- begin page-cover -->
	<div class="page-cover"></div>
	<!-- end page-cover -->
	
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:replace="|${TPL}/_inc/_header|::html" />
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div th:replace="|${TPL}/_inc/_sidebar|::html" />
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol th:replace="|${TPL}/_inc/_breadcrumb|::html" />
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">版本说明<small>更多请关注QQ群号<t class="text-success">8802330</t></small></h1>
			<!-- end page-header -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-6 -->
				<div class="col-lg-6 col-md-6">
					<div class="card">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								网页模版为
								<a href="https://wrapbootstrap.com/theme/color-admin-admin-template-front-end-WB0N89JMK" target="_blank">Color Admin</a>。
							</li>
							<li class="list-group-item">
								初始安装时需要使用超级账号<t class="text-warning">superman</t>登陆进行安装并创建初始账号。
							</li>
							<li class="list-group-item">
								超级密码为系统生成，获取方式通过打开调试日志获得。
							</li>
							<li class="list-group-item">
								请自行维护初始账及后台栏目、权限等。
							</li>
							<li class="list-group-item">
								<h4 class="text-red">本系统除模版外，均采用第三方开源框架，请勿将此系统或此系统使用的框架或模版用作商业用途。</h4>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        <div th:replace="|${TPL}/_inc/_theme|::html" />
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<c th:include="|${TPL}/_inc/_base|::js( '' )" />
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
	
</body>
</html>
