<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="|${RES}/jquery-3.2.1.min.js|"></script><br/>
</head>
<body>
    default index<br/>
    获取模版: session.TPL_[template]=<span th:text="${session.TPL_default}"></span><br/>
    获取资源路径：session.TPL_A_[template]=<span th:text="${session.TPL_A_default}"></span><br/>

    获取模版: session.TPL_[template]=<span th:text="${session.TPL_other}"></span><br/>
    获取资源路径：session.TPL_A_[template]=<span th:text="${session.TPL_A_other}"></span><br/>

    获取当前资源路径: RES=<span th:text="${RES}"></span><br/>
    获取当前模版对象: TEMPLATE=<span th:text="${TEMPLATE}"></span><br/>
    获取当前模版路径: TPL=<span th:text="${TPL}"></span><br/>
    <img th:src="|${RES}/default.jpg|"></img><br/>

    <img th:src="|${session.TPL_A_other}/default.jpg|"></img><br/>

    <img src="default/assets/default.jpg"></img><br/>

    <script type='text/javascript' src='/dwr/engine.js'></script>
    <script type='text/javascript' src='/dwr/interface/DemoService.js'></script>

    <script>
        $(document).ready(function() {
            DemoService.echo('测试', function (str) {
                console.log( str );
            });
            DemoService.user( function (user) {
                console.log( user.username );
            });
            DemoService.user({username: "aaa"}, function (user) {
                console.log( user.username );
            });
			$.ajax({
			    url: "/echo1",
			    data: {"aaa":"aaa" },
			    success: function( data ){
			        console.log( "echo1->" , data );
                }
            });

            $.ajax({
			    url: "/echo2",
			    data: { "_str": "aaa" },
			    success: function( data ){
			        console.log( "echo2->" , data );
                }
            });

            $.ajax({
			    url: "/echo3",
			    data: { "username": "aaa" } ,
			    contentType:"application/json",
			    dataType:"json",
			    success: function( data ){
			        console.log( "echo3->" , data.username );
                }
            });
		});
    </script>

    <a href="/test/">Controller测试 </a><br/>

    <a href="/menu1/">menu1 </a><br/>
    <a href="/menu1/menu1-1/">menu1/menu1-1 </a><br/>
    <a href="/menu1/menu1-1/index2">menu1/menu1-1/index2 </a><br/>

    <a href="/other/">其他模版 </a><br/>

    <a href="/logout/">登出 </a><br/>
</body>
</html>