<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_base|::head( 'Jees Webs | Menus Manager', 'editable' )" />
<body>
    <!-- begin page-cover -->
    <div class="page-cover"></div>
    <!-- end page-cover -->

    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div th:replace="|${TPL}/_inc/_header|::html" />
        <!-- end #header -->

        <!-- begin #sidebar -->
        <div th:replace="|${TPL}/_inc/_sidebar|::html" />
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->

        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol th:replace="|${TPL}/_inc/_breadcrumb|::html" />
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header" th:text="${MENU eq null ? PAGE : MENU.name}" />
            <!-- end page-header -->
            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-lg-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- begin panel-body -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <a id="btn-install" href="javascript:Install.doing();" class="btn btn-primary btn-block m-b-5">执行初始化</a>
                                </div>
                                <div class="col-md-3">
                                    <a id="btn-refresh" href="javascript:Install.refresh();" class="btn btn-primary btn-block m-b-5">更新栏目</a>
                                </div>
                                <div class="col-md-6">
                                    <t id="instal-tip"></t>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end #content -->

            <!-- begin theme-panel -->
            <div th:replace="|${TPL}/_inc/_theme|::html" />
            <!-- end theme-panel -->

            <!-- begin scroll to top btn -->
            <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
            <!-- end scroll to top btn -->
        </div>
        <!-- end page container -->
    </div>
    <c th:include="|${TPL}/_inc/_base|::js( 'dwr' )" />
    <c th:include="|${TPL}/_inc/_base|::dwr( 'SuperRemote' )" />

    <script>
        var locked = false;
        var handleInstallState = function( _state ){
            var btn = $("#btn-install");
            var tip = $("#instal-tip");
            locked = _state;

            if( locked ){
                btn.removeClass("btn-primary");
                btn.addClass("btn-default");
                btn.addClass("disabled");

                tip.html("应用已经初始化过，如需要重新初始化，请手动修改数据库并删除锁定文件“.install”");
                tip.addClass("text-danger");
            }
        };
        var handleInstall = function( _result ){
            var btn = $("#btn-install");
            var tip = $("#instal-tip");
            if( _result ){
                tip.html("应用初始化成功，请重新启动系统。");
                tip.addClass("text-success");

                btn.removeClass("btn-primary");
                btn.addClass("btn-default");
                btn.addClass("disabled");

                locked = _result;
            }else{
                tip.html("应用初始化失败，请查看日志并检查相关配置。");
                tip.addClass("text-danger");
            }
        };
        var handleInstallRefresh = function(){
            tip.html("栏目刷新成功，请重新登陆。");
            tip.addClass("text-success");
        };
        var Install = function () {
			"use strict";
			return {
				//main function
				init: function () {
				    SuperRemote.installState( handleInstallState );
				},
				doing: function(){
				    if( locked ) return;
				    SuperRemote.install( handleInstall );
				},
				refresh: function(){
				   SuperRemote.installRefresh( handleInstallRefresh );
				},
			};
		}();
		$(document).ready(function() {
			App.init();
            Install.init();
		});
	</script>
</body>
</html>
