<ul class="nav" th:fragment="html">
    <li class="nav-profile"><a href="javascript:;"
                               data-toggle="nav-profile">
        <div class="image">
            <img th:src="|${RES}/img/user/user-13.jpg|" alt=""/>
        </div>
        <div class="info">
            <b class="caret pull-right"></b>
            <t th:text="${session.USER.username}">Sean Ngu</t>
            <small th:text="${session.USER.authorities}">Front end
                developer</small>
        </div>
    </a></li>
    <li>
        <ul class="nav nav-profile">
            <li><a href="javascript:;"><i class="fa fa-cog"></i>
                设置</a></li>
            <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i>
                其他</a></li>
            <li><a href="javascript:;"><i class="fa fa-question-circle"></i>
                帮助</a></li>
        </ul>
    </li>
</ul>