<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    default index<br/>
    获取模版: session.TPL_[template]=<span th:text="${session.TPL_default}"></span><br/>
    获取资源路径：session.TPL_A_[template]=<span th:text="${session.TPL_A_default}"></span><br/>
    获取当前主题：session.TPL_T_[template]=<span th:text="${session.TPL_T_default}"></span><br/>

    获取模版: session.TPL_[template]=<span th:text="${session.TPL_other}"></span><br/>
    获取资源路径：session.TPL_A_[template]=<span th:text="${session.TPL_A_other}"></span><br/>
    获取当前主题：session.TPL_T_[template]=<span th:text="${session.TPL_T_other}"></span><br/>


    <img th:src="${TPL.name + '/' + TPL.assets + '/default.jpg'}"></img><br/>

    <a href="/other">其他模版 </a><br/>
</body>
</html>