<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_utils|::head( 'Jees Webs | ' + ${MENU eq null ? PAGE : MENU.name}, '', 'gritter, editable' )" />
<body>
<!-- begin page-cover -->
<div class="page-cover"></div>
<!-- end page-cover -->

<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div th:replace="|${TPL}/_inc/_header|::html" />
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div th:replace="|${TPL}/_inc/_sidebar|::html" />
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol th:replace="|${TPL}/_inc/_breadcrumb|::html" />
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header" th:text="${MENU eq null ? PAGE : MENU.name}" />
        <!-- end page-header -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:MGR.Users.onClick_Add();" class="btn btn-xs btn-icon btn-circle btn-success"><i class="fa fa-plus"></i></a>
                        </div>
                        <h4 class="panel-title">账号列表</h4>
                    </div>
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="tab-data" class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="15%">账号</th>
                                <th width="15%">重置密码</th>
                                <th width="5%">启用账号</th>
                                <th width="5%">锁定账号</th>
                                <th>权限清单</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end #content -->

        <!-- begin theme-panel -->
        <div th:replace="|${TPL}/_inc/_theme|::html" />
        <!-- end theme-panel -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
</div>
<c th:include="|${TPL}/_inc/_utils|::js( 'gritter, editable, sweetalert, dwr' )" />
<c th:include="|${TPL}/_inc/_utils|::dwr( 'MgrRoleRemote' )" />
<c th:include="|${TPL}/_inc/_utils|::dwr( 'MgrUserRemote' )" />
<c th:include="|${TPL}/_inc/_utils|::custom( 'manager/users' )" />
    <script>
		$(document).ready(function() {
			App.init();
			MGR.Users.init();
		});
	</script>
</body>
</html>
