<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">

	<properties>
		<property name="LOG_HOME">logs</property>
		<property name="FILE_NAME">jees.dba.support</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p][%c]%d{yyyy-MM-dd HH:mm:ss } - %m%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout
				pattern="[%p][%c]%d{yyyy-MM-dd HH:mm:ss } - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="512 KB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>