<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_base|::head( 'Jees Webs | 404', 'default' )" />
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10">404</div>
            <div class="error-content">
                <div class="error-message">您要访问的页面没有找到...</div>
                <div class="error-desc m-b-30">
                    您访问的页面不存在或者已被删除。<br />
                    如果需要帮助，请联系管理员或者通过搜索功能找到它。
                </div>
                <div>
                    <a href="/" class="btn btn-success p-l-20 p-r-20">返回主页</a>
                </div>
            </div>
        </div>
        <!-- end error -->

        <!-- begin theme-panel -->
        <div th:replace="|${TPL}/_inc/_theme|::html" />
        <!-- end theme-panel -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->

    <c th:include="|${TPL}/_inc/_base|::js( '' )" />
    <script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>