<?xml version="1.0" encoding="UTF-8"?>
<!-- 转载：http://blog.csdn.net/appleyk/article/details/78717388 -->
<included>
    <property name="JDBS_FILE" value="jeesupport.jdbs"/>
    <appender name="JDBS_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${JDBS_FILE}.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${JDBS_FILE}.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <maxHistory>31</maxHistory>
            <maxFileSize>4MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <logger name="com.jees.core.database" level="DEBUG">
        <appender-ref ref="JDBS_APPENDER"/>
    </logger>
</included>