<div class="theme-panel" th:fragment="html">
	<a href="javascript:;" data-click="theme-panel-expand"
		class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
	<div class="theme-panel-content">
		<h5 class="m-t-0">颜色主题</h5>
		<ul class="theme-list clearfix">
			<li><a href="javascript:;" class="bg-green" data-theme="green"
				th:data-theme-file="|${RES}/css/transparent/theme/green.css|"
				data-click="theme-selector" data-toggle="tooltip"
				data-trigger="hover" data-container="body" data-title="Green">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-red" data-theme="red"
				th:data-theme-file="|${RES}/css/transparent/theme/red.css|"
				data-click="theme-selector" data-toggle="tooltip"
				data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
			<li class="active"><a href="javascript:;" class="bg-blue"
				data-theme="default"
				th:data-theme-file="|${RES}/css/transparent/theme/default.css|"
				data-click="theme-selector" data-toggle="tooltip"
				data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-purple" data-theme="purple"
				th:data-theme-file="|${RES}/css/transparent/theme/purple.css|"
				data-click="theme-selector" data-toggle="tooltip"
				data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-orange" data-theme="orange"
				th:data-theme-file="|${RES}/css/transparent/theme/orange.css|"
				data-click="theme-selector" data-toggle="tooltip"
				data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-black" data-theme="black"
				th:data-theme-file="|${RES}/css/transparent/theme/black.css|"
				data-click="theme-selector" data-toggle="tooltip"
				data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
		</ul>
		<div class="divider"></div>
		<div class="row m-t-10">
			<div class="col-md-5 control-label">顶部</div>
			<div class="col-md-7">
				<select name="header-fixed" class="form-control form-control-sm">
					<option value="1">固定</option>
					<option value="2">默认</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-5 control-label double-line">边栏样式</div>
			<div class="col-md-7">
				<select name="sidebar-styling" class="form-control form-control-sm">
					<option value="1">默认</option>
					<option value="2">grid</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-5 control-label">边栏</div>
			<div class="col-md-7">
				<select name="sidebar-fixed" class="form-control form-control-sm">
					<option value="1">固定</option>
					<option value="2">默认</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-5 control-label double-line">边栏变化</div>
			<div class="col-md-7">
				<select name="content-gradient" class="form-control form-control-sm">
					<option value="1">禁用</option>
					<option value="2">启用</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-12">
				<a href="javascript:;" class="btn btn-inverse btn-block btn-sm"
					data-click="reset-local-storage">重置缓存</a>
			</div>
		</div>
	</div>
</div>