<div class="theme-panel theme-panel-lg" th:fragment="html">
	<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
	<div class="theme-panel-content">
		<h5 class="m-t-0">颜色主题</h5>
		<ul class="theme-list clearfix">
			<li><a href="javascript:;" class="bg-red" data-theme="red" th:data-theme-file="|${RES}/css/default/theme/red.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="红色">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-pink" data-theme="pink" th:data-theme-file="|${RES}/css/default/theme/pink.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="粉红">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-orange" data-theme="orange" th:data-theme-file="|${RES}/css/default/theme/orange.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="橙色">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-yellow" data-theme="yellow" th:data-theme-file="|${RES}/css/default/theme/yellow.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="黄色">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-lime" data-theme="lime" th:data-theme-file="|${RES}/css/default/theme/lime.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="石灰">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-green" data-theme="green" th:data-theme-file="|${RES}/css/default/theme/green.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="绿色">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-teal" data-theme="default" th:data-theme-file="|${RES}/css/default/theme/default.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="默认">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-aqua" data-theme="aqua" th:data-theme-file="|${RES}/css/default/theme/aqua.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="水绿">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-blue" data-theme="blue" th:data-theme-file="|${RES}/css/default/theme/blue.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="蓝色">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-purple" data-theme="purple" th:data-theme-file="|${RES}/css/default/theme/purple.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="紫色">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-indigo" data-theme="indigo" th:data-theme-file="|${RES}/css/default/theme/indigo.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="靛蓝">&nbsp;</a></li>
			<li><a href="javascript:;" class="bg-black" data-theme="black" th:data-theme-file="|${RES}/css/default/theme/black.css|" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="黑色">&nbsp;</a></li>
		</ul>
		<div class="divider"></div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">标题</div>
			<div class="col-md-8">
				<select name="header-styling" class="form-control form-control-sm">
					<option value="1">默认</option>
					<option value="2">反色</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">标题</div>
			<div class="col-md-8">
				<select name="header-fixed" class="form-control form-control-sm">
					<option value="1">固定</option>
					<option value="2">默认</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">边栏风格</div>
			<div class="col-md-8">
				<select name="sidebar-styling" class="form-control form-control-sm">
					<option value="1">默认</option>
					<option value="2">网格</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">边栏样式</div>
			<div class="col-md-8">
				<select name="sidebar-fixed" class="form-control form-control-sm">
					<option value="1">固定</option>
					<option value="2">默认</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">边栏渐变</div>
			<div class="col-md-8">
				<select name="content-gradient" class="form-control form-control-sm">
					<option value="1">禁用</option>
					<option value="2">启用</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">内容样式</div>
			<div class="col-md-8">
				<select name="content-styling" class="form-control form-control-sm">
					<option value="1">默认</option>
					<option value="2">黑色</option>
				</select>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6 control-label text-inverse f-w-600">方向</div>
			<div class="col-md-8">
				<select name="direction" class="form-control form-control-sm">
					<option value="1">左右</option>
					<option value="2">右左</option>
				</select>
			</div>
		</div>
		<div class="divider"></div>
		<h5>模版切换</h5>
		<div class="theme-version">
			<a th:action="@{/}" class="active">
				<span style="background-image: url(../assets/img/theme/default.jpg);"></span>
			</a>
		</div>
		<div class="divider"></div>
		<div class="row m-t-10">
			<div class="col-md-12">
				<a href="javascript:;" class="btn btn-inverse btn-block btn-rounded" data-click="reset-local-storage"><b>重置</b></a>
			</div>
		</div>
	</div>
</div>