<head th:fragment="head( title, theme, plugins )">
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link th:href="|${RES}/plugins/jquery-ui/jquery-ui.min.css|" rel="stylesheet" />
    <link th:href="|${RES}/plugins/bootstrap/css/bootstrap.min.css|" rel="stylesheet" />
    <link th:href="|${RES}/plugins/font-awesome/css/all.min.css|" rel="stylesheet" />
    <link th:href="|${RES}/plugins/animate/animate.min.css|" rel="stylesheet" />
    <link th:if="${theme.isEmpty()}" th:href="|${RES}/css/default/style.min.css|" rel="stylesheet" />
    <link th:if="${theme.isEmpty()}" th:href="|${RES}/css/default/style-responsive.min.css|" rel="stylesheet" />
    <link th:if="${theme.isEmpty()}" th:href="|${RES}/css/default/theme/default.css|" rel="stylesheet" id="theme" />
    <link th:if="${#strings.indexOf( theme, 'default') != -1 }" th:href="|${RES}/css/default/style.min.css|" rel="stylesheet" />
    <link th:if="${#strings.indexOf( theme, 'default') != -1 }" th:href="|${RES}/css/default/style-responsive.min.css|" rel="stylesheet" />
    <link th:if="${#strings.indexOf( theme, 'default') != -1 }" th:href="|${RES}/css/default/theme/default.css|" rel="stylesheet" id="theme" />
    <link th:if="${#strings.indexOf( theme, 'transparent') != -1 }" th:href="|${RES}/css/transparent/style.min.css|" rel="stylesheet" />
    <link th:if="${#strings.indexOf( theme, 'transparent') != -1 }" th:href="|${RES}/css/transparent/style-responsive.min.css|" rel="stylesheet" />
    <link th:if="${#strings.indexOf( theme, 'transparent') != -1 }" th:href="|${RES}/css/transparent/theme/default.css|" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <!-- jstree -->
    <link th:if="${#strings.indexOf( plugins, 'jstree') != -1 }" href="../assets/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
    <!-- editable -->
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/address/address.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/typeaheadjs/lib/typeahead.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/select2/select2.css" rel="stylesheet" />
    <link th:if="${#strings.indexOf( plugins, 'editable') != -1 }" href="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css" rel="stylesheet" />
    <!-- gritter -->
    <link th:if="${#strings.indexOf( plugins, 'gritter') != -1 }" href="../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script th:src="|${RES}/plugins/pace/pace.min.js|"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<c th:fragment="js( plugins )">
    <!-- ================== BEGIN BASE JS ================== -->
    <script th:src="|${RES}/plugins/jquery/jquery-3.2.1.min.js|"></script>
    <script th:src="|${RES}/plugins/jquery-ui/jquery-ui.min.js|"></script>
    <script th:src="|${RES}/plugins/bootstrap/js/bootstrap.bundle.min.js|"></script>
    <!--[if lt IE 9]>
    <script th:src="|${RES}/crossbrowserjs/html5shiv.js|"></script>
    <script th:src="|${RES}/crossbrowserjs/respond.min.js|"></script>
    <script th:src="|${RES}/crossbrowserjs/excanvas.min.js|"></script>
    <![endif]-->
    <script th:src="|${RES}/plugins/slimscroll/jquery.slimscroll.min.js|"></script>
    <script th:src="|${RES}/plugins/js-cookie/js.cookie.js|"></script>
    <script th:src="|${RES}/js/theme/transparent.min.js|"></script>
    <script th:src="|${RES}/js/apps.min.js|"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <!--jstree-->
    <script th:if="${#strings.indexOf( plugins, 'jstree') != -1 }" th:src="|${RES}/plugins/jstree/dist/jstree.min.js|"></script>
    <!--editable-->
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/address/address.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-wysihtml5/wysihtml5.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/plugins/bootstrap3-editable/inputs-ext/select2/select2.min.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'editable') != -1 }" src="../assets/js/jees-editable.js"></script>
    <!--mockjax-->
    <script th:if="${#strings.indexOf( plugins, 'mockjax') != -1 }" src="../assets/plugins/mockjax/jquery.mockjax.js"></script>
    <!--moment-->
    <script th:if="${#strings.indexOf( plugins, 'moment') != -1 }" src="../assets/plugins/moment/moment.min.js"></script>
    <!--sweetalert-->
    <script th:if="${#strings.indexOf( plugins, 'sweetalert') != -1 }" src="../assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script th:if="${#strings.indexOf( plugins, 'sweetalert') != -1 }" src="../assets/js/jees-sweetalert.js"></script>
    <!-- gritter -->
    <script th:if="${#strings.indexOf( plugins, 'gritter') != -1 }" src="../assets/plugins/gritter/js/jquery.gritter.min.js"></script>
    <!--dwr-->
    <script th:if="${#strings.indexOf( plugins, 'dwr') != -1 }" src='/dwr/engine.js'></script>
    <!--install-->
    <script th:if="${#strings.indexOf( plugins, 'install') != -1 }" src='../assets/js/install/install.js'></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</c>
<c th:fragment="dwr( r )">
    <script th:src="|/dwr/interface/${r}.js|"></script>
</c>
<c th:fragment="custom( script )">
    <script th:src="|${RES}/js/${script}.js|"></script>
</c>