#日志配置，此处使用默认日志
logging:
 config: classpath:log4j2.xml
 level:
  org.springframework: WARN
  com.jees: DEBUG

spring:
 application:
  name: jees-jsts

jees:
 jsts:
  message:
   request:
    enable: false
    clazz: com.jees.interf.IRequest,com.jees.interf.IResponse
   handler:
    enable: false
    clazz: com.jees.interf.IResponse
   error:
    enable: false
    clazz: com.jees.interf.IError
   proxy: false
   type: json
   monitor: true
  socket:
   enable: true
   lostTime: 0
   standTime: 60000
   port: 8000
   bom: false
  websocket:
   enable: true
   url: /
   lostTime: 0
   standTime: 60000
   port: 8001
   ssl:
    enable: false
    file: config/cert/jees.pfx
    keyfile: config/cert/jees.key
    type: PKCS12
    pass: PASSWORD
  connector:
   enable: false
   retry:
    max: 3
    rate: 10000
    delay: 300000
   hosts: 127.0.0.1:8000

