<?xml version="1.0" encoding="UTF-8"?>
<!-- 转载：http://blog.csdn.net/appleyk/article/details/78717388 -->
<configuration>
	<!-- 指定日志目录 -->
	<property name="LOG_HOME" value="logs" />
	<!-- 指定日志文件名称 -->
	<property name="FILE_NAME" value="jees.jdbs.support" />
	<!-- 控制台输出格式 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%p]%d{yyyy-MM-dd HH:mm:ss }[(%file:%line\)] - %m%n</pattern>
			<!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 指定生产环境配置 -->
	<!--
		spring.profiles.active=jees
		IDEA 运行指定Program arguments
	-->
	<springProfile name="jees">
		<!--
		<appender>
		</appender>
		-->
	</springProfile>

	<!-- 常规日志 -->
	<appender name="SYSLOG"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${FILE_NAME}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${FILE_NAME}.%d.%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%p]%d{yyyy-MM-dd HH:mm:ss }[%C:%L] - %m%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<!-- 错误日志 -->
	<appender name="SYSERR"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/${FILE_NAME}.err</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${FILE_NAME}.%d.%i.err</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%p]%d{yyyy-MM-dd HH:mm:ss }[%C:%L] - %m%n
			</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 指定生产环境输出 -->
	<springProfile name="jees">
		<!--
		<logger>
		</logger>
		-->
	</springProfile>

	<logger name="com.jees" level="DEBUG">
		<appender-ref ref="SYSLOG" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="SYSERR" />
	</root>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>