<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="|${TPL}/_inc/_utils|::head( 'Jees Webs | ' + ${MENU eq null ? PAGE : MENU.name}, '', 'jstree' )" />
<body>
	<!-- begin page-cover -->
	<div class="page-cover"></div>
	<!-- end page-cover -->
	
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:replace="|${TPL}/_inc/_header|::html" />
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div th:replace="|${TPL}/_inc/_sidebar|::html" />
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol th:replace="|${TPL}/_inc/_breadcrumb|::html" />
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header" th:text="${MENU eq null ? PAGE : MENU.name}" />
			<!-- end page-header -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-12 -->
				<div class="col-lg-12">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:S.Base.reload();" class="btn btn-warning"><i class="fa fa-redo"></i> 重新生成栏目</a>
							</div>
							<h4 class="panel-title">模版可访问地址和文件路径</h4>
						</div>
						<div class="panel-body">
							<div id="files-tree"></div>
						</div>
					</div>
					<!-- end panel -->
				</div>
				<!-- end col-6 -->
		</div>
		<!-- end #content -->
		
        <!-- begin theme-panel -->
        <div th:replace="|${TPL}/_inc/_theme|::html" />
        <!-- end theme-panel -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	</div>
	<c th:include="|${TPL}/_inc/_utils|::js( 'jstree, dwr' )" />
	<c th:include="|${TPL}/_inc/_utils|::dwr( 'SuperRemote' )" />
	<c th:include="|${TPL}/_inc/_utils|::custom( 'super/base' )" />
	<script>
		$(document).ready(function() {
			App.init();
			S.Base.init();
		});
	</script>
</body>
</html>
